@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/Student/Index">Öğrenci Sayfası</a><br />
    <a asp-action="Index" asp-controller="Student">Öğrenci Sayfası</a><br />
    <a href="@Url.Action("Student/Index")">Öğrenci Sayfası</a>
</div>
