
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form action="/Home/Login" method="Post">
    <div class="mb-3">
        <label  class="form-label">Email:</label>
        <input type="email" class="form-control" name="email"/>
        <br />
        <label class="form-label">Ad Soyad:</label>
        <input type="text" class="form-control" name="fullname" />
    </div>
    <input type="submit" class="btn btn-primary" value="Gönder" />
</form>